docytpe
html(lang="es")
    head
        meta(charset="UTF-8")
        title Iterations
    body
        h1 challenge
            each val, index in ['224, 242, 241', '178, 223, 219', '128, 203, 196', '77, 182, 172', '38, 166, 154', '0, 150, 136', '0, 137, 123', '0, 121, 107', '0, 105, 92', '0, 77, 64']
                div(style={'background-color': 'rgb('+val+')', height: '60px','text-indent':'-9999px',})= index

