@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body div{
    background-color: #1a2e5b !important;
    color: aliceblue  !important;
  }
body div div {
    color: aliceblue  !important;

}
body div  div div{
    background-color: #2a2e38 !important;
    color: rgb(0, 0, 0) !important;
}