#navbarSupportedContent{
    font-family: 'Open Sans', sans-serif;
}

div.background{
    background-image: url(./imgs/Frame\ 1.png);
     width: 100%;
     height: auto;
     background-size: cover;  
    
}
#margin{
    border: red 1px solid;
}
div.position{
    
    margin-top: 180px;
}
div.margin1{
    margin-left: 319px;
    margin-top: 0px;
}
p.lineheigth{
 line-height: 25px;
}